<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="blood.css">
	<link rel="stylesheet" type="text/css" href="services.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@800&family=Roboto+Serif:ital,opsz,wght@0,8..144,900;1,8..144,900&display=swap" rel="stylesheet">
</head>
<body>
	<section id="whole">
		<nav id="main-navigation">
			<a href="/"><img src="logo.png"></a>
			<div class="head-content2">
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/services">Services</a>
			</div>
			<span class="head-content3">
				<a href="/contact"><button>Contact</button></a>
			</span>
		</nav>
	<section id = "about-center">
		<h3><u>About:</u></h3>
		<p><b class="clr">Blood Care</b> A centralised Blood Bank Management System</p>
		<p>We at <b class="clr">Blood Care</b> are devoted, dedicated and determined towards saving lives.</p>
		<h1><b class="clr">Blood Care</b> was introduced was <b><a href="https://www.linkedin.com/in/kanha-bindal-7b3367254/">Kanha Bindal</a></b> on 22nd November 2022 with an intent to serve the society.</h1>
		<div class="about-lower">
		<div class="abt-1">
		<h2>Objectives:</h2>
			<ul class= "objt">
				<li>Safe and Adequate Blood Supplies</li>
				<li>Reduced Turnaround Time</li>
				<li>Preventing Wastage of Blood</li>
				<li>Networking of Blood Banks</li>
			</ul>
		</div>
		<div class="abt-2">
			<h2 class= "saft">Salient Features:</h2>
			<ul>
				<li>Web Based Applications</li>
				<li>Decision Support</li>
				<li>Enforces Guidelines</li>
				<li>Dashboard</li>
			</ul>
		</div>
	    </div>
	</section>
	</section>
	<section id = 'main-lower'>
		<p>While the first blood transfusions were made directly from donor to receiver before coagulation, it was discovered that by adding anticoagulant and refrigerating the blood it was possible to store it for some days, thus opening the way for the development of blood banks.</p>
	</section>
	<footer class="footer-content">
		<span class="lower-text"> &#169; 2023 <span> Blood Bank System</span> Built By <a href="https://www.linkedin.com/in/kanha-bindal-7b3367254/">Kanha Bindal</a>
	</footer>
	<script type="text/javascript" src="services.js"></script>
</body>

</html>