<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="blood.css">
	<link rel="stylesheet" type="text/css" href="services.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@800&family=Roboto+Serif:ital,opsz,wght@0,8..144,900;1,8..144,900&display=swap" rel="stylesheet">
</head>
<body>
	<section id="whole">
		<nav id="main-navigation">
			<a href="/"><img src="logo.png"></a>
			<div class="head-content2">
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/services">Services</a>
			</div>
			<span class="head-content3">
				<a href="/contact"><button>Contact</button></a>
			</span>
		</nav>
		<section id="table-2">
			<table class = "table-head-2">
				<div>
				<tr><th class = "com">Units of Blood Present</th></tr>
				</div>
			</table>
			<table>
 				<tr>
 				  <th>Blood Type</th>
 				  <th>Units Present</th>
 				</tr>
 				<tr>
 				  <td>A+</td>
 				  <td>50</td>
 				</tr>
 				<tr>
 				  <td>O+</td>
 				  <td>42</td>
 				</tr>
 				<tr>
 				  <td>B+</td>
 				  <td>11</td>
				</tr>
 				<tr>
 				  <td>AB+</td>
 				  <td>32</td>
				</tr>
				 <tr>
				   <td>A-</td>
				   <td>21</td>
				</tr>
				 <tr>
				   <td>O-</td>
				   <td>7</td>
				</tr>
				<tr>
				   <td>B-</td>
				   <td>31</td>
				</tr>
				<tr>
				   <td>AB-</td>
				   <td>24</td>
				</tr>
			</table>
		</section>
	</section>
	<section id = 'main-lower'>
		<p>It's important to know your blood type—whether you're a donor or a patient in need of blood products. You may be surprised to learn how many people will benefit from your generous gift, no matter what type you have.</p>
	</section>
	<footer class="footer-content">
		<span class="lower-text"> &#169; 2023 <span> Blood Bank System</span> Built By <a href="https://www.linkedin.com/in/kanha-bindal-7b3367254/">Kanha Bindal</a>
	</footer>
	<script type="text/javascript" src="services.js"></script>
</body>

</html>