<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="blood.css">
	<link rel="stylesheet" type="text/css" href="services.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@800&family=Roboto+Serif:ital,opsz,wght@0,8..144,900;1,8..144,900&display=swap" rel="stylesheet">
</head>
<body>
	<section id="whole">
		<nav id="main-navigation">
			<a href="/"><img src="logo.png"></a>
			<div class="head-content2">
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/services">Services</a>
			</div>
			<span class="head-content3">
				<a href="/contact"><button>Contact</button></a>
			</span>
		</nav>
	<section id = "contact-center">
		<h3><u>Contact Details:</u></h3>
		<p>For Blood Care related queries, feedback and suggestions write us to at</p>
		<h4><i>Madhav Institute of Technology And Science Racecourse Rd, near Gola ka Mandir, Mela Ground, Thatipur, Gwalior, Madhya Pradesh 474005.</i></h4>
		<address>
			<a href="kanhabindal3@gmail.com">kanhabindal3@gmail.com</a>
		</address>
		<p><br><br>For any other query fill the form below:</p>
		<form action="/contact" method="post" class="form-contact">
    		<label for="name"><b>Name</b></label>
    		<input type="text" placeholder="Enter Name" name="name" required>

    		<label for="contact"><b>Contact No.</b></label>
    		<input type="number" placeholder="Enter Contact No." name="contact" required>

    		<label for="email"><b>Email</b></label>
    		<input type="email" placeholder="Enter Email" name="email" required>

    		<label for="query"><b>Query</b></label>
    		<input type="text" placeholder="Enter Query" name="query" required>

    		<div class="low-btn">
    			<button type="submit" value="Save" class="btn">Save Details</button>
    			<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    		</div>
  			</form>
	</section>
	</section>
	<section id = 'main-lower'>
		<p>There are 150 Billion red blood cells in one ounce of blood.</p><p>There are 2.4 Trillion red blood cells in one pint of blood.</p>
	</section>
	<footer class="footer-content">
		<span class="lower-text"> &#169; 2023 <span> Blood Bank System</span> Built By <a href="https://www.linkedin.com/in/kanha-bindal-7b3367254/">Kanha Bindal</a>
	</footer>
	<script type="text/javascript" src="services.js"></script>
</body>

</html>

